@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply bg-white text-black dark:bg-gray-900 dark:text-white;
    }

    .gg-chevron-left {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 22px;
        border: 2px solid transparent;
        border-radius: 100px;
        @apply text-[#1F2937];
    }
    .gg-chevron-left::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid;
        border-left: 2px solid;
        transform: rotate(45deg);
        left: 6px;
        top: 4px
    }

    .gg-chevron-right {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 22px;
        border: 2px solid transparent;
        border-radius: 100px;
        @apply text-[#1F2937];
    }
    .gg-chevron-right::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(-45deg);
        right: 6px;
        top: 4px
    }

    .gg-chevron-down {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 22px;
        border: 2px solid transparent;
        border-radius: 100px;
        @apply text-[#1F2937];
    }
    .gg-chevron-down::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 7px;
        height: 7px;
        border-bottom: 1px solid;
        border-right: 1px solid;
        transform: rotate(45deg);
        left: 50%;
        top: -6px
    }

    .gg-arrow-left {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 10px;
        height: 10px;
        @apply text-[#9CA3AF];
    }
    .gg-arrow-left::after,
    .gg-arrow-left::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 3px
    }
    .gg-arrow-left::after {
        width: 8px;
        height: 8px;
        border-bottom: 2px solid;
        border-left: 2px solid;
        transform: rotate(45deg);
        bottom: 7px
    }
    .gg-arrow-left::before {
        width: 16px;
        height: 2px;
        bottom: 10px;
        background: currentColor
    }

    .gg-arrow-right {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 22px;
        @apply text-[#9CA3AF];
    }
    .gg-arrow-right::after,
    .gg-arrow-right::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        right: 3px
    }
    .gg-arrow-right::after {
        width: 8px;
        height: 8px;
        border-top: 2px solid;
        border-right: 2px solid;
        transform: rotate(45deg);
        bottom: 7px
    }
    .gg-arrow-right::before {
        width: 16px;
        height: 2px;
        bottom: 10px;
        background: currentColor
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    }
}
