@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply bg-white text-black dark:bg-gray-900 dark:text-white;
    }

    .gg-chevron-left {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 22px;
        border: 2px solid transparent;
        border-radius: 100px;
        @apply text-[#1F2937] dark:text-white;
    }
    .gg-chevron-left::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid;
        border-left: 2px solid;
        transform: rotate(45deg);
        left: 6px;
        top: 4px
    }

    .gg-chevron-right {
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 22px;
        height: 22px;
        border: 2px solid transparent;
        border-radius: 100px;
        @apply text-[#1F2937] dark:text-white;
    }
    .gg-chevron-right::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid;
        border-right: 2px solid;
        transform: rotate(-45deg);
        right: 6px;
        top: 4px
    }
}
